# Compiled class files
*.class
bin/

# Package Files #
*.jar
*.war
*.ear

# Log Files
*.log
*.log.*
log/
logs/

# Eclipse files
.settings/
.classpath
.project
.metadata/

# OS-specific files
.DS_Store
Thumbs.db